body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* .delete1 {
  margin: 20px;
  margin-top: 10px;
}
.delete{
  margin: 30px;
} */

.input {
  text-align:center;
  /* border: 1px solid black; */
  height: 300px;
}
.input-group{
  width: 40% !important;
  margin-top: 50px;
  margin-left: 400px;
  text-align: center;
  display: inline;

}
/* .btn{
  width: 10%;
  margin-top: -80px !important;
  margin-left: 300px !important;
} */
/* .btn-outline-success , .btn-outline-danger{
  margin-top: -82px;
  margin-right: -700px;
} */
.Buttons{
  margin-top: -45px;
  margin-left: 800px;
  /* width: 100px; */
  /* border: 1px solid black */
}
.btn-outline-success , .btn-outline-danger{
  width: 20%;
  margin: 2px;
}